<div class="container">
  <div ng-controller="PhoneListController">

    <h1>Home Page</h1>

    <ul>
      <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
      </li>
    </ul>

    <p>Total number of phones: {{phones.length}}</p>

    <p>Hello, {{name}}! I am a second scope.</p>

    <h2>Third Scope</h2>
    <table>
      <tr><th>Row number</th></tr>
      <tr ng-repeat="i in list">
        <td>{{i+1}}</td>
      </tr>
    </table>

  </div>
</div>